@model SecondHandSuccess2.Models.Listing
@{ var book = ViewBag.books as SecondHandSuccess2.Models.BOOK;}

<div id="addListing">
    @{
        ViewBag.Title = "Add Listing";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="row mt-md-3">
        <h1 class="h1 col-md-12 text-center">Listing Information</h1>
    </div>





    <div class="container">
        <div class="row">
            <h1 class="h1 col-md-6" id="addModuleTitle">Add a Listing</h1>
        </div>
        <div class="row" style="margin:20px">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body text-center" id="addListingContainer1">
                        <h5 class="card-title text-center" id="listingInformation1">Listing Information</h5>

                        @using (Html.BeginForm("confirmNewListing", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <table class="table table-dark" id="tableListing1">
                                <tbody>
                                    <tr>
                                        <td>
                                            Book Name
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.DropDownList("bookISBN", new SelectList(ViewBag.books, "bookISBN", "bookName", new { @class = "form-control" }))
                                                @Html.ValidationMessageFor(model => model.bookISBN)

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Price
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.TextBoxFor(model => model.listingPrice, new { @class = "form-control", @type = "number", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => model.listingPrice)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Quality
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.DropDownList("conditions")
                                                @Html.ValidationMessageFor(model => model.listingPrice)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Confirm</button>

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin:20px">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body text-center" id="addListingContainer2">
                        <h5 class="card-title text-center" id="listingInformation2">Add a new textbook</h5>

                        @using (Html.BeginForm("createNewBook", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <table class="table table-dark" id="tableListing2">
                                <tbody>
                                    <tr>
                                        <td>
                                            ISBN
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                               

                                                @Html.TextBoxFor(model => book.bookISBN, new { @class = "form-control", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => book.bookISBN)

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Name
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => book.bookName, new { @class = "form-control", @style = "margin:auto" })
                                            @Html.ValidationMessageFor(model => book.bookName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Publisher
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.TextBoxFor(model => book.bookPublisher, new { @class = "form-control", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => book.bookPublisher)

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Author
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.TextBoxFor(model => book.bookAuthor, new { @class = "form-control", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => book.bookAuthor)

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Edition
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.TextBoxFor(model => book.bookEdition, new { @class = "form-control", @type = "number", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => book.bookEdition)

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="pageDirect" value="Listing">Add</button>

                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                                                    }
                    </div>
                </div>
            </div>


        </div>
    </div>
    <style>
        .form-control {
            border-color: #d4d4d4 !important;
            background-color: rgb(243, 243, 243);
        }




        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .btn {
            max-width: 280px;
            margin: auto;
        }
    </style>



</div>





@*@{
    ViewBag.Title = "Edit Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <div class="row mt-md-3">
        <h1 class="h1 col-md-12 text-center">Listing Information</h1>
    </div>
    <div class="row mt-md-5" style="margin-bottom:15px">
        <form class="w-75 m-md-auto card p-1 my-5">
            <fieldset class="border-primary">
                <legend class="font-weight-bold">Listing Information</legend>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Textbook Name:</label>
                            <div class="col-md-8">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-4">Asking Price:</label>
                            <div class="col-md-8">
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 justify-content-center" style="margin:auto">
                        <div class="row p-2">
                            <button class="btn btn-light btn-block">Confirm</button>
                        </div>
                        <div class="row p-2">
                            <button class="btn btn-light btn-block">DELETE</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row mt-md-5">
        <form class="w-75 m-md-auto card p-1">
            <fieldset>
                <legend class="font-weight-bold">Add a New Textbook</legend>
                <div class="row">
                    <div class="col col-md-6">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" for="textbookName">Textbook Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="textbookName" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-md-4" for="textbookISBN">ISBN Number:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="textbookISBN" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-md-4" for="textbookPublisher">Publisher:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="textbookPublisher" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-md-4" for="textbookAuthor">Author:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="textbookAuthor" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-form-label col-md-4" for="textbookEdition">Edition:</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="textbookEdition" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-2 justify-content-center" style="margin:auto">
                        <div class="row p-4">
                            <button class="btn btn-light btn-block">ADD</button>
                        </div>
                        <div class="row p-4">
                            <button class="btn btn-light btn-block">DELETE</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
<style>
    label {
        color: white;
    }

    .card {
        background-color: #164f52;
        border: none;
        box-shadow: 0 0.7rem 0.7rem 0.5rem rgba(0, 0, 0, 0.2);
    }

    legend {
        color: white;
        padding-left: 15px;
    }

    fieldset {
        padding: 5px;
    }
</style>*@