@model SecondHandSuccess2.Models.Module

@{
    ViewBag.Title = "AddModule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<


<div class="container">
    <div class="row">
        <h1 class="h1 col-md-6" id="addModuleTitle">Add a Module</h1>
     </div>
     <div class="row" style="margin:20px" >
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" >
            <div class="card card-signin my-5" >
                <div class="card-body text-center" id="addModuleContainer" >
                    <h5 class="card-title text-center" id="moduleInformation">Module Information</h5>

                    @using (Html.BeginForm("addModule", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form"   }))
                    {                    @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table class="table table-dark" id="tableModule">
                            <tbody>
                                <tr>
                                    <td>
                                        Module Name
                                    </td>
                                    <td>
                                        <div class="form-label-group text-center">
                                            @Html.TextBoxFor(model => model.moduleName, new { @class = "form-control", @style = "margin:auto" })
                                            @Html.ValidationMessageFor(model => model.moduleName)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Module Code
                                    </td>
                                    <td>
                                        <div class="form-label-group text-center">
                                            @Html.TextBoxFor(model => model.moduleCode, new { @class = "dropdown" })
                                            @Html.ValidationMessageFor(model => model.moduleLecturer)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lecturer Name
                                    </td>
                                    <td>
                                        <div class="form-label-group text-center">
                                            @Html.DropDownList("PersonIDNumber", new SelectList(ViewBag.lecturers, "PersonIDNumber", "PersonName","PersonSurname", new { @class = "form-control"}))
                                           
                                            @Html.ValidationMessageFor(model => model.moduleLecturer)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-light">Confrim</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
    </div>

<style>
    .form-control {
        border-color: #d4d4d4 !important;
        background-color: rgb(243, 243, 243);
                                            }

  

    
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .btn {
        max-width: 280px;
        margin: auto;
    }
</style>












    <div class="form-horizontal">

        @*<hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.moduleCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.moduleCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.moduleCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.moduleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.moduleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.moduleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.moduleLecturer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.moduleLecturer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.moduleLecturer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
