@model SecondHandSuccess2.Models.Module
@{
    var existence = "The Module Code or Name exists";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")


<div id="addModule">

    @{
        ViewBag.Title = "AddModule";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="container">   
            <div class="col-md-7 row align-items-center" style="">
                <h1 class="h1 col-md-6" id="addModuleTitle">Add a Module</h1>
                <a class="col-md-2 btn btn-light " href=@Url.Action(controllerName: "Home", actionName: "Index", routeValues: 0) style="max-width:150px">Log Out</a>
            </div>
        <div class="row" style="margin:20px">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body text-center" id="addModuleContainer">
                        <h5 class="card-title text-center" id="moduleInformation">Module Information</h5>
                        <p id="existenceString">@existence</p>
                        @using (Html.BeginForm("addModule", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <table class="table table-dark" id="tableModule">
                                <tbody>
                                    <tr>
                                        <td>
                                            Module Name
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center" id="rowOne">
                                                @Html.TextBoxFor(model => model.moduleName, new { @class = "form-control", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => model.moduleName)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Module Code
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center" id="rowTwo">
                                                @Html.TextBoxFor(model => model.moduleCode, new { @class = "form-control", @style = "margin:auto" })
                                                @Html.ValidationMessageFor(model => model.moduleCode)

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Lecturer Name
                                        </td>
                                        <td>
                                            <div class="form-label-group text-center">
                                                @Html.DropDownList("personId", new SelectList(ViewBag.lecturers, "PersonIDNumber", "PersonName", "PersonSurname", new { @class = "form-control" }))

                                                @Html.ValidationMessageFor(model => model.moduleLecturer)


                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="submitButtonNewModule">Confirm</button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .form-control {
            border-color: #d4d4d4 !important;
            background-color: rgb(243, 243, 243);
        }




        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

        .btn {
            max-width: 280px;
            margin: auto;
        }
    </style>

</div>
<script>
    $(document).ready(function () {
        $("#existenceString").hide("slow");
    });
   
    $("#submitButtonNewModule").click(function () { ($("#existenceString").delay(2000).show("slow")) });
    $("#rowOne").click(function () { ($("#existenceString").hide("slow")); });
    $("#rowTwo").click(function () { ($("#existenceString").hide("slow")); });
</script>